In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import hvplot.pandas
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ChrisClass")
from scipy.stats import linregress
from citipy import citipy

In [2]:
#Upload landfall csv to notebook
landfall_df = pd.read_csv("Resources/landfall.csv")
#Upload costliest hurricane csv to notebook
damage_df = pd.read_csv("Resources/costliness.csv")

#Merge the two data frames into one
merged_df = pd.merge(landfall_df,damage_df,on = ['Season','Name'],how='outer')

#Drop values with no location data
merged_df = merged_df.dropna(subset=['Latitude'])

#Rename Season columns to Year
merged_df = merged_df.rename(columns={'Season':'Year'})

#Show dataframe preview
merged_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs
1,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B
2,10.0,9/13/84,1984,0700Z,33.9,-78.0,95.0,2.0,15,979,NC2,Diana,NaN,NaN
3,2.0,7/25/85,1985,0300Z,32.2,-80.5,65.0,1.0,20,1003,SC1,Bob,NaN,NaN
4,4.0,8/15/85,1985,1630Z,29.6,-92.7,80.0,1.0,15,987,LA1,Danny,NaN,NaN
5,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B

In [3]:
#Create lists to store states, counties, and coordinates.
counties = []
states = []
lat_lngs = []

#Convert Lat and Long to a string
merged_df['Longitude'] = merged_df['Longitude'].astype(str)
merged_df['Latitude'] = merged_df['Latitude'].astype(str)

#Add lattitude and longitude values to list
lat_lngs = merged_df[['Latitude','Longitude']].values.tolist()

#Loop through lat_lng list to pull county and state names with geopy  
for lat_lng in lat_lngs:
    try:
        county = geolocator.reverse(lat_lng[0]+","+lat_lng[1])
        county = county.raw['address']['county']
        counties.append(county)
        state = geolocator.reverse(lat_lng[0]+","+lat_lng[1])
        state = state.raw['address']['state']
        states.append(state)
    #To handle errors if data isn't found
    except:
        counties.append('')
        states.append('')

#Add county and state names to dataframe
merged_df['County'] = counties
merged_df['State'] = states

merged_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State
1,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston County,Texas
2,10.0,9/13/84,1984,0700Z,33.9,-78.0,95.0,2.0,15,979,NC2,Diana,NaN,NaN,Brunswick County,North Carolina
3,2.0,7/25/85,1985,0300Z,32.2,-80.5,65.0,1.0,20,1003,SC1,Bob,NaN,NaN,,
4,4.0,8/15/85,1985,1630Z,29.6,-92.7,80.0,1.0,15,987,LA1,Danny,NaN,NaN,Cameron Parish,Louisiana
5,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison County,Mississippi

In [4]:
#Save new csv to avoid long run time of above code 
merged_df.to_csv('Resources/merged_df.csv',index=False)

In [3]:
#Upload new merged csv to notebook
hurricanes_df = pd.read_csv('Resources/merged_df.csv')
hurricanes_df

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston County,Texas
1,10.0,9/13/84,1984,0700Z,33.9,-78.0,95.0,2.0,15,979,NC2,Diana,NaN,NaN,Brunswick County,North Carolina
2,2.0,7/25/85,1985,0300Z,32.2,-80.5,65.0,1.0,20,1003,SC1,Bob,NaN,NaN,NaN,NaN
3,4.0,8/15/85,1985,1630Z,29.6,-92.7,80.0,1.0,15,987,LA1,Danny,NaN,NaN,Cameron Parish,Louisiana
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison County,Mississippi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,9.0,9/28/22,2022,0200Z,24.6,-82.9,110.0,3.0,20,952,BFL3,Ian,4.0,$118.5B,Monroe County,Florida
92,9.0,9/28/22,2022,1905Z,26.7,-82.2,130.0,4.0,20,941,BFL4,Ian,4.0,$118.5B,Lee County,Florida
93,9.0,9/28/22,2022,2035Z,26.8,-82.0,125.0,4.0,20,945,"BFL4,ICFL1,DFL1",Ian,4.0,$118.5B,Charlotte County,Florida
94,9.0,9/30/22,2022,1805Z,33.3,-79.2,70.0,1.0,40,978,SC1,Ian,4.0,$118.5B,Georgetown County,South Carolina
95,9.0,8/30/23,2023,1145Z,29.9,-83.6,100.0,3.0,10,950,"AFL3, IGA1",Idalia,3.0,$3.6B,Taylor County,Florida

In [4]:
#Drop rows with empty values
hurricanes_df.dropna(axis=0, how='any', inplace=True)
hurricanes_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston County,Texas
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison County,Mississippi
7,12.0,10/29/85,1985,1100Z,29.5,-91.4,75.0,1.0,15,971,LA1,Juan,1.0,$4.3B,St. Mary Parish,Louisiana
14,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,"SC4,INC1",Hugo,4.0,$22.7B,Charleston County,South Carolina
16,3.0,8/19/91,1991,1720Z,41.2,-71.6,90.0,2.0,25,962,"RI2,MA2,NY2,CT2",Bob,2.0,$3.5B,South County,Rhode Island

In [5]:
#Dictionary to store State names and abb.
state_to_abbrev = {"Alabama": "AL","Alaska": "AK","Arizona": "AZ","Arkansas": "AR","California": "CA",
    "Colorado": "CO","Connecticut": "CT","Delaware": "DE","Florida": "FL","Georgia": "GA",
    "Hawaii": "HI","Idaho": "ID","Illinois": "IL","Indiana": "IN","Iowa": "IA",
    "Kansas": "KS","Kentucky": "KY","Louisiana": "LA","Maine": "ME","Maryland": "MD",
    "Massachusetts": "MA","Michigan": "MI","Minnesota": "MN","Mississippi": "MS","Missouri": "MO",
    "Montana": "MT","Nebraska": "NE","Nevada": "NV","New Hampshire": "NH","New Jersey": "NJ",
    "New Mexico": "NM","New York": "NY","North Carolina": "NC","North Dakota": "ND","Ohio": "OH",
    "Oklahoma": "OK","Oregon": "OR","Pennsylvania": "PA","Rhode Island": "RI","South Carolina": "SC",
    "South Dakota": "SD","Tennessee": "TN","Texas": "TX","Utah": "UT","Vermont": "VT",
    "Virginia": "VA","Washington": "WA","West Virginia": "WV","Wisconsin": "WI","Wyoming": "WY","District of Columbia": "DC"}

#Replace State Names with codes
hurricanes_df['State'] = hurricanes_df['State'].replace(state_to_abbrev)
hurricanes_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston County,TX
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison County,MS
7,12.0,10/29/85,1985,1100Z,29.5,-91.4,75.0,1.0,15,971,LA1,Juan,1.0,$4.3B,St. Mary Parish,LA
14,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,"SC4,INC1",Hugo,4.0,$22.7B,Charleston County,SC
16,3.0,8/19/91,1991,1720Z,41.2,-71.6,90.0,2.0,25,962,"RI2,MA2,NY2,CT2",Bob,2.0,$3.5B,South County,RI

In [6]:
#Make a list to store cities and coordinates 
cities= []
lat_lngs2= []

#Convert Lat and Long to a float
hurricanes_df['Longitude'] = hurricanes_df['Longitude'].astype(float)
hurricanes_df['Latitude'] = hurricanes_df['Latitude'].astype(float)

#Add lattitude and longitude values to list
lat_lngs2 = hurricanes_df[['Latitude','Longitude']].values.tolist()

#Loop through lat_lng list to pull cities names with citipy  
for lat_lng2 in lat_lngs2:
    city = citipy.nearest_city(lat_lng2[0], lat_lng2[1]).city_name
    cities.append(city)

#Add city names to dataframe
hurricanes_df['City'] =cities
hurricanes_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State,City
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston County,TX,hitchcock
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison County,MS,long beach
7,12.0,10/29/85,1985,1100Z,29.5,-91.4,75.0,1.0,15,971,LA1,Juan,1.0,$4.3B,St. Mary Parish,LA,patterson
14,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,"SC4,INC1",Hugo,4.0,$22.7B,Charleston County,SC,mount pleasant
16,3.0,8/19/91,1991,1720Z,41.2,-71.6,90.0,2.0,25,962,"RI2,MA2,NY2,CT2",Bob,2.0,$3.5B,South County,RI,charlestown

In [7]:
#Remove "County" amd "Parish" from county column
hurricanes_df['County'] = hurricanes_df['County'].str.replace(' County','')
hurricanes_df['County'] = hurricanes_df['County'].str.replace(' Parish','')
hurricanes_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State,City
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston,TX,hitchcock
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison,MS,long beach
7,12.0,10/29/85,1985,1100Z,29.5,-91.4,75.0,1.0,15,971,LA1,Juan,1.0,$4.3B,St. Mary,LA,patterson
14,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,"SC4,INC1",Hugo,4.0,$22.7B,Charleston,SC,mount pleasant
16,3.0,8/19/91,1991,1720Z,41.2,-71.6,90.0,2.0,25,962,"RI2,MA2,NY2,CT2",Bob,2.0,$3.5B,South,RI,charlestown

In [8]:
#Upload HPI csv to dataframe
hpi_df = pd.read_csv('Resources/hpi_county.csv')
hpi_df.replace('.', "", inplace=True)
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,,100.00,95.59,70.96
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24

In [9]:
#Create lists to store the year values of the years around a hurricane strike
previous_year = []
year_1 = []
year_2 = []
year_3 = []

#Loop through the hpi data and pull the previous year value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'Year']
        previous_year.append(value)
    except:
        previous_year.append('')

#Loop through the hpi data and pull the next year value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'Year']
        year_1.append(value)
    except:
        year_1.append('')

#Loop through the hpi data and pull two year values ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'Year']
        year_2.append(value)
    except:
        year_2.append('')

#Loop through the hpi data and pull three year values ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'Year']
        year_3.append(value)
    except:
        year_3.append('')

#Create new columns and place the values on the data frame
hpi_df['Year -1'] = previous_year
hpi_df['Year +1'] = year_1
hpi_df['Year +2'] = year_2
hpi_df['Year +3'] = year_3
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3
0,AL,Autauga,1001,1986,,100.00,95.59,70.96,,1987,1988,1989
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993

In [10]:
#Create lists to store the Annual change values of the years around a hurricane strike
prev_ac = []
year_1_ac = []
year_2_ac = []
year_3_ac = []

#Loop through the hpi data and pull the previous ac value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'Annual Change (%)']
        prev_ac.append(value)
    except:
        prev_ac.append('')

#Loop through the hpi data and pull the next ac value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'Annual Change (%)']
        year_1_ac.append(value)
    except:
        year_1_ac.append('')

#Loop through the hpi data and pull two ac values ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'Annual Change (%)']
        year_2_ac.append(value)
    except:
        year_2_ac.append('')

#Loop through the hpi data and pull three ac values ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'Annual Change (%)']
        year_3_ac.append(value)
    except:
        year_3_ac.append('')

#Create new columns and place the values on the data frame
hpi_df['Annual Change (%) -1'] = prev_ac
hpi_df['Annual Change (%) +1'] = year_1_ac
hpi_df['Annual Change (%) +2'] = year_2_ac
hpi_df['Annual Change (%) +3'] = year_3_ac
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3
0,AL,Autauga,1001,1986,,100.00,95.59,70.96,,1987,1988,1989,,-1.94,2.57,4.32
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990,,2.57,4.32,-0.29
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991,-1.94,4.32,-0.29,2.52
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992,2.57,-0.29,2.52,3.09
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993,4.32,2.52,3.09,3.35

In [11]:
#Create lists to store the HPI values of the years around a hurricane strike
prev_hpi = []
year_1_hpi = []
year_2_hpi = []
year_3_hpi = []

#Loop through the hpi data and pull the previous HPI value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'HPI']
        prev_hpi.append(value)
    except:
        prev_hpi.append('')

#Loop through the hpi data and pull the next HPI value
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'HPI']
        year_1_hpi.append(value)
    except:
        year_1_hpi.append('')

#Loop through the hpi data and pull two HPI value ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'HPI']
        year_2_hpi.append(value)
    except:
        year_2_hpi.append('')

#Loop through the hpi data and pull three HPI value ahead
for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'HPI']
        year_3_hpi.append(value)
    except:
        year_3_hpi.append('')

#Create new columns and place the values on the data frame
hpi_df['HPI -1'] = prev_hpi
hpi_df['HPI +1'] = year_1_hpi
hpi_df['HPI +2'] = year_2_hpi
hpi_df['HPI +3'] = year_3_hpi
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI +1,HPI +2,HPI +3
0,AL,Autauga,1001,1986,,100.00,95.59,70.96,,1987,1988,1989,,-1.94,2.57,4.32,,98.06,100.58,104.92
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990,,2.57,4.32,-0.29,100.00,100.58,104.92,104.62
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991,-1.94,4.32,-0.29,2.52,98.06,104.92,104.62,107.25
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992,2.57,-0.29,2.52,3.09,100.58,104.62,107.25,110.57
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993,4.32,2.52,3.09,3.35,104.92,107.25,110.57,114.28

In [12]:
#Merge HPI data with hurricane data
hurricane_hpi_df = pd.merge(hurricanes_df,hpi_df,on=['Year','County','State'],how='inner')
hurricane_hpi_df.head()

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),...,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI +1,HPI +2,HPI +3
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,...,1985,1986,-2.03,1.64,-4.40,-1.16,161.13,167.34,159.99,158.13
1,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,...,1987,1988,4.57,3.03,-5.08,-0.86,177.04,196.94,186.93,185.32
2,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,...,1991,1992,5.89,4.00,2.84,2.40,263.90,285.80,293.90,300.97
3,4.0,8/24/92,1992,0905Z,25.5,-80.3,145.0,5.0,10,922,...,1994,1995,2.09,6.14,4.36,4.63,239.18,261.13,272.52,285.14
4,17.0,10/4/95,1995,2200Z,30.3,-87.1,100.0,3.0,50,942,...,1997,1998,3.43,5.35,5.62,3.30,203.44,224.56,237.17,245.00

In [13]:
#Make a new dataframe with only relevant columns
clean_hurricane_hpi_df = hurricane_hpi_df[['Name','Max Winds (kt)','Adjusted Costs','City','County','State',
                        'Year -1','Year','Year +1','Year +2',
                        'Annual Change (%) -1','Annual Change (%)','Annual Change (%) +1','Annual Change (%) +2',
                        'HPI -1','HPI','HPI +1','HPI +2']]
clean_hurricane_hpi_df = clean_hurricane_hpi_df[(clean_hurricane_hpi_df['Year'] < 2022) & (clean_hurricane_hpi_df['Year'] > 1980)]
clean_hurricane_hpi_df.head()

,Name,Max Winds (kt),Adjusted Costs,City,County,State,Year -1,Year,Year +1,Year +2,Annual Change (%) -1,Annual Change (%),Annual Change (%) +1,Annual Change (%) +2,HPI -1,HPI,HPI +1,HPI +2
0,Alicia,100.0,$9.4B,hitchcock,Galveston,TX,1982,1983,1984,1985,-2.03,2.17,1.64,-4.40,161.13,164.63,167.34,159.99
1,Elena,100.0,$3.8B,long beach,Harrison,MS,1984,1985,1986,1987,4.57,7.97,3.03,-5.08,177.04,191.15,196.94,186.93
2,Hugo,120.0,$22.7B,mount pleasant,Charleston,SC,1988,1989,1990,1991,5.89,4.13,4.00,2.84,263.90,274.79,285.80,293.90
3,Andrew,145.0,$60.2B,lakes by the bay,Miami-Dade,FL,1991,1992,1993,1994,2.09,2.86,6.14,4.36,239.18,246.02,261.13,272.52
4,Opal,100.0,$9.6B,gulf breeze,Escambia,FL,1994,1995,1996,1997,3.43,4.78,5.35,5.62,203.44,213.16,224.56,237.17

In [14]:
#Save hurricanes df to directory
hurricanes_df.to_csv('Output_CSVs/hurricanes_df.csv', index=False)

#Save Merged df to directory
hpi_df.to_csv('Output_CSVs/hpi_df.csv', index=False)

#Save clean df as CSV to directory
clean_hurricane_hpi_df.to_csv('Output_CSVs/clean_hurricane_hpi_data.csv', index=False)

hurricanes_df = Total Data for hurricane strikes in the US

hpi_df = Total HPI data with new columns for every county

clean_hurricane_hpi_df = Comined previous two data frames. All hurricane strikes with HPI data.

In [15]:
hurricanes_df

,#,Date,Year,Time,Latitude,Longitude,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),States Affected,Name,Category,Adjusted Costs,County,State,City
0,3.0,8/18/83,1983,0700Z,29.1,-95.1,100.0,3.0,10,962,CTX3,Alicia,3.0,$9.4B,Galveston,TX,hitchcock
4,5.0,9/2/85,1985,1300Z,30.4,-89.2,100.0,3.0,10,959,"AL3,MS3,AFL3",Elena,3.0,$3.8B,Harrison,MS,long beach
7,12.0,10/29/85,1985,1100Z,29.5,-91.4,75.0,1.0,15,971,LA1,Juan,1.0,$4.3B,St. Mary,LA,patterson
14,11.0,9/22/89,1989,0400Z,32.8,-79.8,120.0,4.0,20,934,"SC4,INC1",Hugo,4.0,$22.7B,Charleston,SC,mount pleasant
16,3.0,8/19/91,1991,1720Z,41.2,-71.6,90.0,2.0,25,962,"RI2,MA2,NY2,CT2",Bob,2.0,$3.5B,South,RI,charlestown
17,4.0,8/24/92,1992,0905Z,25.5,-80.3,145.0,5.0,10,922,"CFL5,BFL4",Andrew,5.0,$60.2B,Miami-Dade,FL,lakes by the bay
18,4.0,8/26/92,1992,0830Z,29.6,-91.5,100.0,3.0,20,956,LA3,Andrew,5.0,$60.2B,St. Mary,LA,franklin
23,17.0,10/4/95,1995,2200Z,30.3,-87.1,100.0,3.0,50,942,"AFL3,IAL1",Opal,3.0,$9.6B,Escambia,FL,gulf breeze
25,6.0,9/6/96,1996,0030Z,33.9,-78.0,100.0,3.0,40,954,NC3,Fran,3.0,$10.0B,Brunswick,NC,long beach
31,7.0,9/25/98,1998,1530Z,24.5,-81.8,90.0,2.0,25,981,BFL2,Georges,2.0,$11.5B,Monroe,FL,key west
32,7.0,9/28/98,1998,1130Z,30.4,-88.9,90.0,2.0,80,964,MS2,Georges,2.0,$11.5B,Harrison,MS,biloxi
34,8.0,9/16/99,1999,0630Z,33.8,-78.0,90.0,2.0,35,956,NC2,Floyd,2.0,$12.1B,Brunswick,NC,long beach
40,13.0,9/18/03,2003,1700Z,34.9,-76.2,90.0,2.0,40,957,NC2,Isabel,2.0,$9.3B,Carteret,NC,morehead city
42,3.0,8/13/04,2004,1945Z,26.6,-82.2,130.0,4.0,5,941,BFL4,Charley,4.0,$26.6B,Lee,FL,sanibel
43,3.0,8/13/04,2004,2045Z,26.9,-82.1,125.0,4.0,5,942,"BFL4,CFL1,DFL1",Charley,4.0,$26.6B,Charlotte,FL,punta gorda isles
44,3.0,8/14/04,2004,1400Z,33.0,-79.4,70.0,1.0,20,992,SC1,Charley,4.0,$26.6B,Charleston,SC,georgetown
45,3.0,8/14/04,2004,1600Z,33.8,-78.7,65.0,1.0,20,997,SC1,Charley,4.0,$26.6B,Horry,SC,north myrtle beach
46,6.0,9/5/04,2004,0430Z,27.2,-80.2,90.0,2.0,30,960,"CFL2,BFL1",Frances,2.0,$16.3B,Martin,FL,stuart
48,9.0,9/16/04,2004,0650Z,30.2,-87.9,105.0,3.0,25,946,"AL3,AFL3",Ivan,3.0,$34.0B,Baldwin,AL,gulf shores
49,11.0,9/26/04,2004,0400Z,27.2,-80.2,105.0,3.0,45,950,"CFL3,BFL1,AFL1",Jeanne,3.0,$12.4B,Martin,FL,stuart
51,4.0,7/10/05,2005,1930Z,30.4,-87.1,105.0,3.0,5,946,"AFL3,IAL1",Dennis,3.0,$4.0B,Santa Rosa,FL,gulf breeze
52,12.0,8/25/05,2005,2230Z,26.0,-80.1,70.0,1.0,15,984,"CFL1,BFL1",Katrina,3.0,$200.0B,Broward,FL,hollywood
53,12.0,8/29/05,2005,1110Z,29.3,-89.6,110.0,3.0,20,920,LA3,Katrina,3.0,$200.0B,Plaquemines,LA,belle chasse
54,12.0,8/29/05,2005,1445Z,30.2,-89.6,105.0,3.0,20,928,"LA3,MS3,AL1",Katrina,3.0,$200.0B,St. Tammany,LA,slidell
56,18.0,9/24/05,2005,0740Z,29.7,-93.7,100.0,3.0,20,937,"LA3,CTX2",Rita,3.0,$29.2B,Cameron,LA,port arthur
57,25.0,10/24/05,2005,1030Z,25.9,-81.7,105.0,3.0,25,950,"BFL3,CFL2",Wilma,3.0,$30.0B,Collier,FL,marco island
61,7.0,9/1/08,2008,1500Z,29.2,-90.7,90.0,2.0,25,954,LA2,Gustav,2.0,$8.6B,Terrebonne,LA,houma
62,9.0,9/13/08,2008,0700Z,29.3,-94.7,95.0,2.0,30,950,"CTX2,LA1",Ike,2.0,$43.2B,Galveston,TX,galveston
63,9.0,8/27/11,2011,1200Z,34.7,-76.6,75.0,1.0,45,952,NC1,Irene,1.0,$18.8B,Carteret,NC,morehead city
64,9.0,8/29/12,2012,0000Z,28.9,-89.4,70.0,1.0,40,967,LA1,Isaac,1.0,$3.8B,Plaquemines,LA,galliano
65,9.0,8/29/12,2012,0800Z,29.2,-90.2,70.0,1.0,40,966,LA1,Isaac,1.0,$3.8B,Lafourche,LA,galliano
70,14.0,10/8/16,2016,1500Z,33.0,-79.5,85.0,2.0,---,963,"DFL2, GA1, SC1, NC1",Matthew,1.0,$13.0B,Charleston,SC,mount pleasant
71,9.0,8/26/17,2017,0300Z,28.0,-96.9,115.0,4.0,10,937,BTX4,Harvey,4.0,$160.0B,Aransas,TX,rockport
72,9.0,8/26/17,2017,0600Z,28.2,-97.1,105.0,3.0,10,948,BTX4,Harvey,4.0,$160.0B,Refugio,TX,rockport
73,11.0,9/10/17,2017,1300Z,24.7,-81.5,115.0,4.0,10,931,"BFL4,CFL1",Irma,4.0,$64.0B,Monroe,FL,key west
74,11.0,9/10/17,2017,1930Z,25.9,-81.7,100.0,3.0,15,936,"BFL4,CFL1",Irma,4.0,$64.0B,Collier,FL,marco island
77,6.0,9/14/18,2018,1115Z,34.2,-77.8,80.0,1.0,25,956,NC1,Florence,1.0,$30.0B,New Hanover,NC,masonboro
78,14.0,10/10/18,2018,1730Z,30.0,-85.5,140.0,5.0,10,919,"AFL5,I-GA2,AL1",Michael,5.0,$31.0B,Bay,FL,callaway
81,26.0,10/9/20,2020,2300Z,29.8,-93.1,85.0,2.0,15,970,LA2,Delta,2.0,$3.5B,Cameron,LA,prien
84,9.0,8/4/20,2020,0310Z,33.9,-78.5,80.0,1.0,25,986,"SC1,NC1",Isaias,1.0,$5.8B,Brunswick,NC,little river
85,13.0,8/27/20,2020,0600Z,29.8,-93.3,130.0,4.0,15,939,"LA4,CTX1",Laura,4.0,$28.1B,Cameron,LA,prien
86,19.0,9/16/20,2020,0945Z,30.3,-87.7,95.0,2.0,15,965,"AFL2,AL2",Sally,2.0,$8.8B,Baldwin,AL,gulf shores
87,28.0,10/28/20,2020,2100Z,29.2,-90.6,100.0,3.0,20,970,"LA3, MS2, I-AL1",Zeta,2.0,$5.3B,Terrebonne,LA,galliano
88,9.0,8/29/21,2021,1655Z,29.1,-90.2,130.0,4.0,10,931,LA4,Ida,4.0,$84.6B,Lafourche,LA,galliano
90,9.0,9/28/22,2022,1905Z,26.7,-82.2,130.0,4.0,20,941,"BFL4,NC1",Ian,4.0,$118.5B,Lee,FL,rotonda west
91,9.0,9/28/22,2022,0200Z,24.6,-82.9,110.0,3.0,20,952,BFL3,Ian,4.0,$118.5B,Monroe,FL,key west
92,9.0,9/28/22,2022,1905Z,26.7,-82.2,130.0,4.0,20,941,BFL4,Ian,4.0,$118.5B,Lee,FL,rotonda west
93,9.0,9/28/22,2022,2035Z,26.8,-82.0,125.0,4.0,20,945,"BFL4,ICFL1,DFL1",Ian,4.0,$118.5B,Charlotte,FL,punta gorda
94,9.0,9/30/22,2022,1805Z,33.3,-79.2,70.0,1.0,40,978,SC1,Ian,4.0,$118.5B,Georgetown,SC,georgetown
95,9.0,8/30/23,2023,1145Z,29.9,-83.6,100.0,3.0,10,950,"AFL3, IGA1",Idalia,3.0,$3.6B,Taylor,FL,perry

In [16]:
hpi_df

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI +1,HPI +2,HPI +3
0,AL,Autauga,1001,1986,,100.00,95.59,70.96,,1987,1988,1989,,-1.94,2.57,4.32,,98.06,100.58,104.92
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990,,2.57,4.32,-0.29,100.00,100.58,104.92,104.62
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991,-1.94,4.32,-0.29,2.52,98.06,104.92,104.62,107.25
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992,2.57,-0.29,2.52,3.09,100.58,104.62,107.25,110.57
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993,4.32,2.52,3.09,3.35,104.92,107.25,110.57,114.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100427,WY,Weston,56045,2019,8.33,223.40,,201.09,2018,2020,2021,2022,-0.90,4.36,4.93,6.87,206.21,233.13,244.62,261.41
100428,WY,Weston,56045,2020,4.36,233.13,,209.86,2019,2021,2022,2023,8.33,4.93,6.87,-1.17,223.40,244.62,261.41,258.37
100429,WY,Weston,56045,2021,4.93,244.62,,220.20,2020,2022,2023,,4.36,6.87,-1.17,,233.13,261.41,258.37,
100430,WY,Weston,56045,2022,6.87,261.41,,235.32,2021,2023,,,4.93,-1.17,,,244.62,258.37,,
100431,WY,Weston,56045,2023,-1.17,258.37,,232.57,2022,,,,6.87,,,,261.41,,,

In [17]:
clean_hurricane_hpi_df

,Name,Max Winds (kt),Adjusted Costs,City,County,State,Year -1,Year,Year +1,Year +2,Annual Change (%) -1,Annual Change (%),Annual Change (%) +1,Annual Change (%) +2,HPI -1,HPI,HPI +1,HPI +2
0,Alicia,100.0,$9.4B,hitchcock,Galveston,TX,1982,1983,1984,1985,-2.03,2.17,1.64,-4.40,161.13,164.63,167.34,159.99
1,Elena,100.0,$3.8B,long beach,Harrison,MS,1984,1985,1986,1987,4.57,7.97,3.03,-5.08,177.04,191.15,196.94,186.93
2,Hugo,120.0,$22.7B,mount pleasant,Charleston,SC,1988,1989,1990,1991,5.89,4.13,4.00,2.84,263.90,274.79,285.80,293.90
3,Andrew,145.0,$60.2B,lakes by the bay,Miami-Dade,FL,1991,1992,1993,1994,2.09,2.86,6.14,4.36,239.18,246.02,261.13,272.52
4,Opal,100.0,$9.6B,gulf breeze,Escambia,FL,1994,1995,1996,1997,3.43,4.78,5.35,5.62,203.44,213.16,224.56,237.17
5,Fran,100.0,$10.0B,long beach,Brunswick,NC,1995,1996,1997,1998,8.11,5.59,8.86,7.20,192.77,203.54,221.57,237.51
6,Georges,90.0,$11.5B,key west,Monroe,FL,1997,1998,1999,2000,6.20,7.37,5.86,14.89,292.04,313.55,331.92,381.35
7,Georges,90.0,$11.5B,biloxi,Harrison,MS,1997,1998,1999,2000,4.08,5.31,5.74,5.58,243.21,256.11,270.82,285.95
8,Floyd,90.0,$12.1B,long beach,Brunswick,NC,1998,1999,2000,2001,7.20,6.14,8.12,5.06,237.51,252.09,272.55,286.34
9,Isabel,90.0,$9.3B,morehead city,Carteret,NC,2002,2003,2004,2005,3.61,4.73,8.95,22.29,205.27,214.98,234.23,286.44
10,Charley,130.0,$26.6B,sanibel,Lee,FL,2003,2004,2005,2006,9.54,16.73,35.94,16.68,351.36,410.13,557.53,650.55
11,Charley,125.0,$26.6B,punta gorda isles,Charlotte,FL,2003,2004,2005,2006,10.68,19.14,31.80,8.83,286.10,340.87,449.29,488.96
12,Charley,70.0,$26.6B,georgetown,Charleston,SC,2003,2004,2005,2006,3.31,9.61,18.86,14.91,555.91,609.35,724.29,832.27
13,Charley,65.0,$26.6B,north myrtle beach,Horry,SC,2003,2004,2005,2006,2.48,6.99,16.33,18.59,321.10,343.53,399.64,473.95
14,Frances,90.0,$16.3B,stuart,Martin,FL,2003,2004,2005,2006,12.61,21.66,29.86,10.37,381.41,464.03,602.57,665.06
15,Ivan,105.0,$34.0B,gulf shores,Baldwin,AL,2003,2004,2005,2006,3.48,4.95,17.21,17.29,263.45,276.50,324.08,380.11
16,Jeanne,105.0,$12.4B,stuart,Martin,FL,2003,2004,2005,2006,12.61,21.66,29.86,10.37,381.41,464.03,602.57,665.06
17,Dennis,105.0,$4.0B,gulf breeze,Santa Rosa,FL,2004,2005,2006,2007,13.06,31.58,7.61,-5.81,305.29,401.69,432.27,407.17
18,Katrina,70.0,$200.0B,hollywood,Broward,FL,2004,2005,2006,2007,18.53,29.31,17.79,-3.87,393.89,509.36,599.98,576.77
19,Katrina,110.0,$200.0B,belle chasse,Plaquemines,LA,2004,2005,2006,2007,4.85,7.50,8.80,3.12,173.08,186.06,202.44,208.76
20,Rita,100.0,$29.2B,port arthur,Cameron,LA,2004,2005,2006,2007,6.12,0.00,17.58,-0.10,123.67,123.67,145.42,145.28
21,Wilma,105.0,$30.0B,marco island,Collier,FL,2004,2005,2006,2007,17.40,37.10,21.22,-8.59,656.61,900.24,1091.24,997.46
22,Gustav,90.0,$8.6B,houma,Terrebonne,LA,2007,2008,2009,2010,8.64,4.42,0.82,-0.77,311.81,325.59,328.27,325.73
23,Ike,95.0,$43.2B,galveston,Galveston,TX,2007,2008,2009,2010,2.08,-0.81,0.45,-3.08,305.08,302.61,303.98,294.63
24,Irene,75.0,$18.8B,morehead city,Carteret,NC,2010,2011,2012,2013,-6.57,-5.33,-2.22,-2.85,313.63,296.90,290.31,282.03
25,Isaac,70.0,$3.8B,galliano,Plaquemines,LA,2011,2012,2013,2014,-3.35,2.21,1.58,1.58,196.70,201.05,204.23,207.45
26,Isaac,70.0,$3.8B,galliano,Lafourche,LA,2011,2012,2013,2014,-0.32,-0.28,1.63,1.88,246.66,245.98,249.99,254.70
27,Matthew,85.0,$13.0B,mount pleasant,Charleston,SC,2015,2016,2017,2018,8.71,8.61,8.94,5.59,823.86,894.83,974.85,1029.34
28,Harvey,115.0,$160.0B,rockport,Aransas,TX,2016,2017,2018,2019,6.07,0.94,6.03,9.12,329.14,332.22,352.25,384.38
29,Irma,115.0,$64.0B,key west,Monroe,FL,2016,2017,2018,2019,12.35,4.12,5.40,6.40,805.36,838.55,883.85,940.45
30,Irma,100.0,$64.0B,marco island,Collier,FL,2016,2017,2018,2019,9.75,4.34,5.92,3.51,799.86,834.56,883.93,914.99
31,Florence,80.0,$30.0B,masonboro,New Hanover,NC,2017,2018,2019,2020,7.07,6.04,6.50,5.48,574.41,609.12,648.69,684.26
32,Michael,140.0,$31.0B,callaway,Bay,FL,2017,2018,2019,2020,3.80,10.55,8.19,6.09,543.54,600.88,650.07,689.66
33,Delta,85.0,$3.5B,prien,Cameron,LA,2019,2020,2021,2022,3.01,2.27,7.74,4.40,199.55,204.07,219.86,229.54
34,Isaias,80.0,$5.8B,little river,Brunswick,NC,2019,2020,2021,2022,7.79,5.89,15.13,25.15,481.70,510.06,587.24,734.93
35,Laura,130.0,$28.1B,prien,Cameron,LA,2019,2020,2021,2022,3.01,2.27,7.74,4.40,199.55,204.07,219.86,229.54
36,Sally,95.0,$8.8B,gulf shores,Baldwin,AL,2019,2020,2021,2022,6.89,4.25,13.40,17.25,401.05,418.09,474.09,555.87
37,Zeta,100.0,$5.3B,galliano,Terrebonne,LA,2019,2020,2021,2022,1.94,2.09,2.90,9.66,355.33,362.75,373.27,409.33
38,Ida,130.0,$84.6B,galliano,Lafourche,LA,2020,2021,2022,2023,0.49,3.19,10.41,1.96,276.09,284.89,314.56,320.74