In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import hvplot.pandas
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ChrisClass")
from scipy.stats import linregress
from citipy import citipy

In [2]:
#Upload landfall csv to notebook
landfall_df = pd.read_csv("Resources/landfall.csv")
#Upload costliest hurricane csv to notebook
damage_df = pd.read_csv("Resources/costliness.csv")

In [3]:
#Create lists to store states, counties, and coordinates.
counties = []
states = []
lat_lngs = []

#Convert Lat and Long to aa string
landfall_df['Longitude'] = landfall_df['Longitude'].astype(str)
landfall_df['Latitude'] = landfall_df['Latitude'].astype(str)

#Add lattitude and longitude values to list
lat_lngs = landfall_df[['Latitude', 'Longitude']].values.tolist()

#Loop through lat_lng list to pull county and state names with geopy  
for lat_lng in lat_lngs:
    try:
        county = geolocator.reverse(lat_lng[0]+","+lat_lng[1])
        county = county.raw['address']['county']
        counties.append(county)
        state = geolocator.reverse(lat_lng[0]+","+lat_lng[1])
        state = state.raw['address']['state']
        states.append(state)
    #To handle errors if data isn't found
    except:
        counties.append('')
        states.append('')

#Add county and state names to dataframe
county_column = counties
landfall_df['County'] = county_column
states_column = states
landfall_df['State'] = states_column
landfall_df.head()

,#,Date,Season,Time,Latitude,Lat,Longitude,Long,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,Name,County,State
0,3,8/18/83,1983,0700Z,29.1,29.1N,-95.1,95.1W,100,3,10,962,----,---,CTX3,Alicia,Galveston County,Texas
1,10,9/13/84,1984,0700Z,33.9,33.9N,-78.0,78.0W,95,2,15,979,----,---,NC2,Diana,Brunswick County,North Carolina
2,2,7/25/85,1985,0300Z,32.2,32.2N,-80.5,80.5W,65,1,20,1003,----,---,SC1,Bob,,
3,4,8/15/85,1985,1630Z,29.6,29.6N,-92.7,92.7W,80,1,15,987,----,---,LA1,Danny,Cameron Parish,Louisiana
4,5,9/2/85,1985,1300Z,30.4,30.4N,-89.2,89.2W,100,3,10,959,----,---,"AL3,MS3,AFL3",Elena,Harrison County,Mississippi

In [4]:
#Dictionary to store State names and abb.
state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

#Replace State Names with codes
landfall_df['State'] = landfall_df['State'].replace(state_to_abbrev)
landfall_df.head()

,#,Date,Season,Time,Latitude,Lat,Longitude,Long,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,Name,County,State
0,3,8/18/83,1983,0700Z,29.1,29.1N,-95.1,95.1W,100,3,10,962,----,---,CTX3,Alicia,Galveston County,TX
1,10,9/13/84,1984,0700Z,33.9,33.9N,-78.0,78.0W,95,2,15,979,----,---,NC2,Diana,Brunswick County,NC
2,2,7/25/85,1985,0300Z,32.2,32.2N,-80.5,80.5W,65,1,20,1003,----,---,SC1,Bob,,
3,4,8/15/85,1985,1630Z,29.6,29.6N,-92.7,92.7W,80,1,15,987,----,---,LA1,Danny,Cameron Parish,LA
4,5,9/2/85,1985,1300Z,30.4,30.4N,-89.2,89.2W,100,3,10,959,----,---,"AL3,MS3,AFL3",Elena,Harrison County,MS

In [5]:
#Make a list to store cities and coordinates 
cities= []
lat_lngs2= []

#Convert Lat and Long to a float
landfall_df['Longitude'] = landfall_df['Longitude'].astype(float)
landfall_df['Latitude'] = landfall_df['Latitude'].astype(float)

#Add lattitude and longitude values to list
lat_lngs2 = landfall_df[['Latitude','Longitude']].values.tolist()

#Loop through lat_lng list to pull cities names with citipy  
for lat_lng2 in lat_lngs2:
    city = citipy.nearest_city(lat_lng2[0], lat_lng2[1]).city_name
    cities.append(city)

#Add city names to dataframe
landfall_df['City'] =cities
landfall_df.head()

,#,Date,Season,Time,Latitude,Lat,Longitude,Long,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,Name,County,State,City
0,3,8/18/83,1983,0700Z,29.1,29.1N,-95.1,95.1W,100,3,10,962,----,---,CTX3,Alicia,Galveston County,TX,hitchcock
1,10,9/13/84,1984,0700Z,33.9,33.9N,-78.0,78.0W,95,2,15,979,----,---,NC2,Diana,Brunswick County,NC,long beach
2,2,7/25/85,1985,0300Z,32.2,32.2N,-80.5,80.5W,65,1,20,1003,----,---,SC1,Bob,,,hilton head island
3,4,8/15/85,1985,1630Z,29.6,29.6N,-92.7,92.7W,80,1,15,987,----,---,LA1,Danny,Cameron Parish,LA,jennings
4,5,9/2/85,1985,1300Z,30.4,30.4N,-89.2,89.2W,100,3,10,959,----,---,"AL3,MS3,AFL3",Elena,Harrison County,MS,long beach

In [6]:
#Remove "County" from county column
landfall_df['County'] = landfall_df['County'].str.replace(' County','')
landfall_df['County'] = landfall_df['County'].str.replace(' Parish','')
landfall_df.head()

,#,Date,Season,Time,Latitude,Lat,Longitude,Long,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,Name,County,State,City
0,3,8/18/83,1983,0700Z,29.1,29.1N,-95.1,95.1W,100,3,10,962,----,---,CTX3,Alicia,Galveston,TX,hitchcock
1,10,9/13/84,1984,0700Z,33.9,33.9N,-78.0,78.0W,95,2,15,979,----,---,NC2,Diana,Brunswick,NC,long beach
2,2,7/25/85,1985,0300Z,32.2,32.2N,-80.5,80.5W,65,1,20,1003,----,---,SC1,Bob,,,hilton head island
3,4,8/15/85,1985,1630Z,29.6,29.6N,-92.7,92.7W,80,1,15,987,----,---,LA1,Danny,Cameron,LA,jennings
4,5,9/2/85,1985,1300Z,30.4,30.4N,-89.2,89.2W,100,3,10,959,----,---,"AL3,MS3,AFL3",Elena,Harrison,MS,long beach

In [7]:
#Merge the two data frames into one
merged_df = pd.merge(damage_df,landfall_df,on = ["Name","Season"])
#Show dataframe preview
merged_df.head()

,Name,Season,Category,Adjusted Costs,#,Date,Time,Latitude,Lat,Longitude,...,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,County,State,City
0,Alicia,1983,3,$9.4B,3,8/18/83,0700Z,29.1,29.1N,-95.1,...,100,3,10,962,----,---,CTX3,Galveston,TX,hitchcock
1,Juan,1985,1,$4.3B,12,10/29/85,1100Z,29.5,29.5N,-91.4,...,75,1,15,971,----,---,LA1,St. Mary,LA,patterson
2,Elena,1985,3,$3.8B,5,9/2/85,1300Z,30.4,30.4N,-89.2,...,100,3,10,959,----,---,"AL3,MS3,AFL3",Harrison,MS,long beach
3,Hugo,1989,4,$22.7B,11,9/22/89,0400Z,32.8,32.8N,-79.8,...,120,4,20,934,----,---,"SC4,INC1",Charleston,SC,mount pleasant
4,Bob,1991,2,$3.5B,3,8/19/91,1720Z,41.2,41.2N,-71.6,...,90,2,25,962,----,---,"RI2,MA2,NY2,CT2",South,RI,charlestown

In [8]:
#Rename season column to year
merged_df = merged_df.rename(columns={'Season':'Year'})
merged_df.head()

,Name,Year,Category,Adjusted Costs,#,Date,Time,Latitude,Lat,Longitude,...,Max Winds (kt),SS HWS,RMW nm,Central Prssure (mb),OCI (mb),Size (nm),States Affected,County,State,City
0,Alicia,1983,3,$9.4B,3,8/18/83,0700Z,29.1,29.1N,-95.1,...,100,3,10,962,----,---,CTX3,Galveston,TX,hitchcock
1,Juan,1985,1,$4.3B,12,10/29/85,1100Z,29.5,29.5N,-91.4,...,75,1,15,971,----,---,LA1,St. Mary,LA,patterson
2,Elena,1985,3,$3.8B,5,9/2/85,1300Z,30.4,30.4N,-89.2,...,100,3,10,959,----,---,"AL3,MS3,AFL3",Harrison,MS,long beach
3,Hugo,1989,4,$22.7B,11,9/22/89,0400Z,32.8,32.8N,-79.8,...,120,4,20,934,----,---,"SC4,INC1",Charleston,SC,mount pleasant
4,Bob,1991,2,$3.5B,3,8/19/91,1720Z,41.2,41.2N,-71.6,...,90,2,25,962,----,---,"RI2,MA2,NY2,CT2",South,RI,charlestown

In [9]:
#Upload HPI csv to dataframe
hpi_df = pd.read_csv('Resources/hpi_county.csv')
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,.,100.00,95.59,70.96
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24

In [10]:
previous_year = []
year_1 = []
year_2 = []
year_3 = []

for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'Year']
        previous_year.append(value)
    except:
        previous_year.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'Year']
        year_1.append(value)
    except:
        year_1.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'Year']
        year_2.append(value)
    except:
        year_2.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'Year']
        year_3.append(value)
    except:
        year_3.append('')

hpi_df['Year -1'] = previous_year
hpi_df['Year +1'] = year_1
hpi_df['Year +2'] = year_2
hpi_df['Year +3'] = year_3
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3
0,AL,Autauga,1001,1986,.,100.00,95.59,70.96,,1987,1988,1989
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993

In [11]:
prev_ac = []
year_1_ac = []
year_2_ac = []
year_3_ac = []

for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'Annual Change (%)']
        prev_ac.append(value)
    except:
        prev_ac.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'Annual Change (%)']
        year_1_ac.append(value)
    except:
        year_1_ac.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'Annual Change (%)']
        year_2_ac.append(value)
    except:
        year_2_ac.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'Annual Change (%)']
        year_3_ac.append(value)
    except:
        year_3_ac.append('')

hpi_df['Annual Change (%) -1'] = prev_ac
hpi_df['Annual Change (%) +1'] = year_1_ac
hpi_df['Annual Change (%) +2'] = year_2_ac
hpi_df['Annual Change (%) +3'] = year_3_ac
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3
0,AL,Autauga,1001,1986,.,100.00,95.59,70.96,,1987,1988,1989,,-1.94,2.57,4.32
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990,.,2.57,4.32,-0.29
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991,-1.94,4.32,-0.29,2.52
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992,2.57,-0.29,2.52,3.09
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993,4.32,2.52,3.09,3.35

In [12]:
prev_hpi = []
year_1_hpi = []
year_2_hpi = []
year_3_hpi = []

for index in hpi_df.index:
    try:
        value = hpi_df.at[index-1, 'HPI']
        prev_hpi.append(value)
    except:
        prev_hpi.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+1, 'HPI']
        year_1_hpi.append(value)
    except:
        year_1_hpi.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+2, 'HPI']
        year_2_hpi.append(value)
    except:
        year_2_hpi.append('')

for index in hpi_df.index:
    try:
        value = hpi_df.at[index+3, 'HPI']
        year_3_hpi.append(value)
    except:
        year_3_hpi.append('')

hpi_df['HPI -1'] = prev_hpi
hpi_df['HPI +1'] = year_1_hpi
hpi_df['HPI +2'] = year_2_hpi
hpi_df['HPI +3'] = year_3_hpi
hpi_df.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Year -1,Year +1,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI +1,HPI +2,HPI +3
0,AL,Autauga,1001,1986,.,100.00,95.59,70.96,,1987,1988,1989,,-1.94,2.57,4.32,,98.06,100.58,104.92
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59,1986,1988,1989,1990,.,2.57,4.32,-0.29,100.00,100.58,104.92,104.62
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38,1987,1989,1990,1991,-1.94,4.32,-0.29,2.52,98.06,104.92,104.62,107.25
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46,1988,1990,1991,1992,2.57,-0.29,2.52,3.09,100.58,104.62,107.25,110.57
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24,1989,1991,1992,1993,4.32,2.52,3.09,3.35,104.92,107.25,110.57,114.28

In [13]:
#Merge HPI data with hurricane data
complete_df = pd.merge(merged_df,hpi_df,on=['Year','County','State'])
complete_df

,Name,Year,Category,Adjusted Costs,#,Date,Time,Latitude,Lat,Longitude,...,Year +2,Year +3,Annual Change (%) -1,Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI +1,HPI +2,HPI +3
0,Alicia,1983,3,$9.4B,3,8/18/83,0700Z,29.1,29.1N,-95.1,...,1985,1986,-2.03,1.64,-4.40,-1.16,161.13,167.34,159.99,158.13
1,Elena,1985,3,$3.8B,5,9/2/85,1300Z,30.4,30.4N,-89.2,...,1987,1988,4.57,3.03,-5.08,-0.86,177.04,196.94,186.93,185.32
2,Hugo,1989,4,$22.7B,11,9/22/89,0400Z,32.8,32.8N,-79.8,...,1991,1992,5.89,4.00,2.84,2.40,263.90,285.80,293.90,300.97
3,Andrew,1992,5,$60.2B,4,8/24/92,0905Z,25.5,25.5N,-80.3,...,1994,1995,2.09,6.14,4.36,4.63,239.18,261.13,272.52,285.14
4,Opal,1995,3,$9.6B,17,10/4/95,2200Z,30.3,30.3N,-87.1,...,1997,1998,3.43,5.35,5.62,3.30,203.44,224.56,237.17,245.00
5,Fran,1996,3,$10.0B,6,9/6/96,0030Z,33.9,33.9N,-78.0,...,1998,1999,8.11,8.86,7.20,6.14,192.77,221.57,237.51,252.09
6,Georges,1998,2,$11.5B,7,9/25/98,1530Z,24.5,24.5N,-81.8,...,2000,2001,6.20,5.86,14.89,11.29,292.04,331.92,381.35,424.39
7,Georges,1998,2,$11.5B,7,9/28/98,1130Z,30.4,30.4N,-88.9,...,2000,2001,4.08,5.74,5.58,4.21,243.21,270.82,285.95,297.98
8,Floyd,1999,2,$12.1B,8,9/16/99,0630Z,33.8,33.8N,-78.0,...,2001,2002,7.20,8.12,5.06,3.59,237.51,272.55,286.34,296.63
9,Isabel,2003,2,$9.3B,13,9/18/03,1700Z,34.9,34.9N,-76.2,...,2005,2006,3.61,8.95,22.29,17.93,205.27,234.23,286.44,337.79
10,Ivan,2004,3,$34.0B,9,9/16/04,0650Z,30.2,30.2N,-87.9,...,2006,2007,3.48,17.21,17.29,1.77,263.45,324.08,380.11,386.83
11,Charley,2004,4,$26.6B,3,8/13/04,1945Z,26.6,26.6N,-82.2,...,2006,2007,9.54,35.94,16.68,-11.15,351.36,557.53,650.55,578.05
12,Charley,2004,4,$26.6B,3,8/13/04,2045Z,26.9,26.9N,-82.1,...,2006,2007,10.68,31.80,8.83,-11.74,286.10,449.29,488.96,431.57
13,Charley,2004,4,$26.6B,3,8/14/04,1400Z,33.0,33.0N,-79.4,...,2006,2007,3.31,18.86,14.91,2.43,555.91,724.29,832.27,852.49
14,Charley,2004,4,$26.6B,3,8/14/04,1600Z,33.8,33.8N,-78.7,...,2006,2007,2.48,16.33,18.59,5.16,321.10,399.64,473.95,498.38
15,Frances,2004,2,$16.3B,6,9/5/04,0430Z,27.2,27.2N,-80.2,...,2006,2007,12.61,29.86,10.37,-9.58,381.41,602.57,665.06,601.36
16,Jeanne,2004,3,$12.4B,11,9/26/04,0400Z,27.2,27.2N,-80.2,...,2006,2007,12.61,29.86,10.37,-9.58,381.41,602.57,665.06,601.36
17,Katrina,2005,3,$200.0B,12,8/25/05,2230Z,26.0,26.0N,-80.1,...,2007,2008,18.53,17.79,-3.87,-20.74,393.89,599.98,576.77,457.18
18,Katrina,2005,3,$200.0B,12,8/29/05,1110Z,29.3,29.3N,-89.6,...,2007,2008,4.85,8.80,3.12,0.01,173.08,202.44,208.76,208.79
19,Wilma,2005,3,$30.0B,25,10/24/05,1030Z,25.9,25.9N,-81.7,...,2007,2008,17.40,21.22,-8.59,-25.71,656.61,1091.24,997.46,740.99
20,Rita,2005,3,$29.2B,18,9/24/05,0740Z,29.7,29.7N,-93.7,...,2007,2008,6.12,17.58,-0.10,12.28,123.67,145.42,145.28,163.11
21,Dennis,2005,3,$4.0B,4,7/10/05,1930Z,30.4,30.4N,-87.1,...,2007,2008,13.06,7.61,-5.81,-7.32,305.29,432.27,407.17,377.36
22,Ike,2008,2,$43.2B,9,9/13/08,0700Z,29.3,29.3N,-94.7,...,2010,2011,2.08,0.45,-3.08,-1.48,305.08,303.98,294.63,290.26
23,Gustav,2008,2,$8.6B,7,9/1/08,1500Z,29.2,29.2N,-90.7,...,2010,2011,8.64,0.82,-0.77,-0.95,311.81,328.27,325.73,322.65
24,Irene,2011,1,$18.8B,9,8/27/11,1200Z,34.7,34.7N,-76.6,...,2013,2014,-6.57,-2.22,-2.85,-0.65,313.63,290.31,282.03,280.18
25,Isaac,2012,1,$3.8B,9,8/29/12,0000Z,28.9,28.9N,-89.4,...,2014,2015,-3.35,1.58,1.58,-1.30,196.70,204.23,207.45,204.75
26,Isaac,2012,1,$3.8B,9,8/29/12,0800Z,29.2,29.2N,-90.2,...,2014,2015,-0.32,1.63,1.88,2.49,246.66,249.99,254.70,261.05
27,Matthew,2016,1,$13.0B,14,10/8/16,1500Z,33.0,33.0N,-79.5,...,2018,2019,8.71,8.94,5.59,3.94,823.86,974.85,1029.34,1069.90
28,Harvey,2017,4,$160.0B,9,8/26/17,0300Z,28.0,28.0N,-96.9,...,2019,2020,6.07,6.03,9.12,4.89,329.14,352.25,384.38,403.16
29,Irma,2017,4,$64.0B,11,9/10/17,1300Z,24.7,24.7N,-81.5,...,2019,2020,12.35,5.40,6.40,3.44,805.36,883.85,940.45,972.77
30,Irma,2017,4,$64.0B,11,9/10/17,1930Z,25.9,25.9N,-81.7,...,2019,2020,9.75,5.92,3.51,4.00,799.86,883.93,914.99,951.55
31,Michael,2018,5,$31.0B,14,10/10/18,1730Z,30.0,30.0N,-85.5,...,2020,2021,3.80,8.19,6.09,11.43,543.54,650.07,689.66,768.46
32,Florence,2018,1,$30.0B,6,9/14/18,1115Z,34.2,34.2N,-77.8,...,2020,2021,7.07,6.50,5.48,12.45,574.41,648.69,684.26,769.44
33,Laura,2020,4,$28.1B,13,8/27/20,0600Z,29.8,29.8N,-93.3,...,2022,2023,3.01,7.74,4.40,.,199.55,219.86,229.54,.
34,Sally,2020,2,$8.8B,19,9/16/20,0945Z,30.3,30.3N,-87.7,...,2022,2023,6.89,13.40,17.25,11.76,401.05,474.09,555.87,621.25
35,Isaias,2020,1,$5.8B,9,8/4/20,0310Z,33.9,33.9N,-78.5,...,2022,2023,7.79,15.13,25.15,10.14,481.70,587.24,734.93,809.48
36,Zeta,2020,2,$5.3B,28,10/28/20,2100Z,29.2,29.2N,-90.6,...,2022,2023,1.94,2.90,9.66,3.01,355.33,373.27,409.33,421.67
37,Delta,2020,2,$3.5B,26,10/9/20,2300Z,29.8,29.8N,-93.1,...,2022,2023,3.01,7.74,4.40,.,199.55,219.86,229.54,.
38,Ida,2021,4,$84.6B,9,8/29/21,1655Z,29.1,29.1N,-90.2,...,2023,2001,0.49,10.41,1.96,.,276.09,314.56,320.74,100.00
39,Ian,2022,4,$118.5B,9,9/28/22,1905Z,26.7,26.7N,-82.2,...,1975,1976,18.95,6.93,.,14.04,663.27,921.45,100.00,114.04
40,Ian,2022,4,$118.5B,9,9/28/22,0200Z,24.6,24.6N,-82.9,...,1984,1985,14.41,9.45,.,17.68,1112.91,1520.66,100.00,117.68
41,Ian,2022,4,$118.5B,9,9/28/22,1905Z,26.7,26.7N,-82.2,...,1975,1976,18.95,6.93,.,14.04,663.27,921.45,100.00,114.04
42,Ian,2022,4,$118.5B,9,9/28/22,2035Z,26.8,26.8N,-82.0,...,1978,1979,19.84,7.47,.,18.04,535.96,753.58,100.00,118.04
43,Ian,2022,4,$118.5B,9,9/30/22,1805Z,33.3,33.3N,-79.2,...,1975,1976,10.47,13.24,.,-0.13,305.92,412.83,100.00,99.87
44,Idalia,2023,3,$3.6B,9,8/30/23,1145Z,29.9,29.9N,-83.6,...,2007,2008,16.44,.,-2.91,1.11,294.14,100.00,97.09,98.16

In [16]:
#Make a new dataframe with only relevant columns
clean_df = complete_df[['Name','Category','Max Winds (kt)','Adjusted Costs','City','County','State',
                        'Year -1','Year','Year +1','Year +2','Year +3',
                        'Annual Change (%) -1','Annual Change (%)','Annual Change (%) +1','Annual Change (%) +2','Annual Change (%) +3',
                        'HPI -1','HPI','HPI +2','HPI +3']]
clean_df

,Name,Category,Max Winds (kt),Adjusted Costs,City,County,State,Year -1,Year,Year +1,...,Year +3,Annual Change (%) -1,Annual Change (%),Annual Change (%) +1,Annual Change (%) +2,Annual Change (%) +3,HPI -1,HPI,HPI +2,HPI +3
0,Alicia,3,100,$9.4B,hitchcock,Galveston,TX,1982,1983,1984,...,1986,-2.03,2.17,1.64,-4.40,-1.16,161.13,164.63,159.99,158.13
1,Elena,3,100,$3.8B,long beach,Harrison,MS,1984,1985,1986,...,1988,4.57,7.97,3.03,-5.08,-0.86,177.04,191.15,186.93,185.32
2,Hugo,4,120,$22.7B,mount pleasant,Charleston,SC,1988,1989,1990,...,1992,5.89,4.13,4.00,2.84,2.40,263.90,274.79,293.90,300.97
3,Andrew,5,145,$60.2B,lakes by the bay,Miami-Dade,FL,1991,1992,1993,...,1995,2.09,2.86,6.14,4.36,4.63,239.18,246.02,272.52,285.14
4,Opal,3,100,$9.6B,gulf breeze,Escambia,FL,1994,1995,1996,...,1998,3.43,4.78,5.35,5.62,3.30,203.44,213.16,237.17,245.00
5,Fran,3,100,$10.0B,long beach,Brunswick,NC,1995,1996,1997,...,1999,8.11,5.59,8.86,7.20,6.14,192.77,203.54,237.51,252.09
6,Georges,2,90,$11.5B,key west,Monroe,FL,1997,1998,1999,...,2001,6.20,7.37,5.86,14.89,11.29,292.04,313.55,381.35,424.39
7,Georges,2,90,$11.5B,biloxi,Harrison,MS,1997,1998,1999,...,2001,4.08,5.31,5.74,5.58,4.21,243.21,256.11,285.95,297.98
8,Floyd,2,90,$12.1B,long beach,Brunswick,NC,1998,1999,2000,...,2002,7.20,6.14,8.12,5.06,3.59,237.51,252.09,286.34,296.63
9,Isabel,2,90,$9.3B,morehead city,Carteret,NC,2002,2003,2004,...,2006,3.61,4.73,8.95,22.29,17.93,205.27,214.98,286.44,337.79
10,Ivan,3,105,$34.0B,gulf shores,Baldwin,AL,2003,2004,2005,...,2007,3.48,4.95,17.21,17.29,1.77,263.45,276.50,380.11,386.83
11,Charley,4,130,$26.6B,sanibel,Lee,FL,2003,2004,2005,...,2007,9.54,16.73,35.94,16.68,-11.15,351.36,410.13,650.55,578.05
12,Charley,4,125,$26.6B,punta gorda isles,Charlotte,FL,2003,2004,2005,...,2007,10.68,19.14,31.80,8.83,-11.74,286.10,340.87,488.96,431.57
13,Charley,4,70,$26.6B,georgetown,Charleston,SC,2003,2004,2005,...,2007,3.31,9.61,18.86,14.91,2.43,555.91,609.35,832.27,852.49
14,Charley,4,65,$26.6B,north myrtle beach,Horry,SC,2003,2004,2005,...,2007,2.48,6.99,16.33,18.59,5.16,321.10,343.53,473.95,498.38
15,Frances,2,90,$16.3B,stuart,Martin,FL,2003,2004,2005,...,2007,12.61,21.66,29.86,10.37,-9.58,381.41,464.03,665.06,601.36
16,Jeanne,3,105,$12.4B,stuart,Martin,FL,2003,2004,2005,...,2007,12.61,21.66,29.86,10.37,-9.58,381.41,464.03,665.06,601.36
17,Katrina,3,70,$200.0B,hollywood,Broward,FL,2004,2005,2006,...,2008,18.53,29.31,17.79,-3.87,-20.74,393.89,509.36,576.77,457.18
18,Katrina,3,110,$200.0B,belle chasse,Plaquemines,LA,2004,2005,2006,...,2008,4.85,7.50,8.80,3.12,0.01,173.08,186.06,208.76,208.79
19,Wilma,3,105,$30.0B,marco island,Collier,FL,2004,2005,2006,...,2008,17.40,37.10,21.22,-8.59,-25.71,656.61,900.24,997.46,740.99
20,Rita,3,100,$29.2B,port arthur,Cameron,LA,2004,2005,2006,...,2008,6.12,0.00,17.58,-0.10,12.28,123.67,123.67,145.28,163.11
21,Dennis,3,105,$4.0B,gulf breeze,Santa Rosa,FL,2004,2005,2006,...,2008,13.06,31.58,7.61,-5.81,-7.32,305.29,401.69,407.17,377.36
22,Ike,2,95,$43.2B,galveston,Galveston,TX,2007,2008,2009,...,2011,2.08,-0.81,0.45,-3.08,-1.48,305.08,302.61,294.63,290.26
23,Gustav,2,90,$8.6B,houma,Terrebonne,LA,2007,2008,2009,...,2011,8.64,4.42,0.82,-0.77,-0.95,311.81,325.59,325.73,322.65
24,Irene,1,75,$18.8B,morehead city,Carteret,NC,2010,2011,2012,...,2014,-6.57,-5.33,-2.22,-2.85,-0.65,313.63,296.90,282.03,280.18
25,Isaac,1,70,$3.8B,galliano,Plaquemines,LA,2011,2012,2013,...,2015,-3.35,2.21,1.58,1.58,-1.30,196.70,201.05,207.45,204.75
26,Isaac,1,70,$3.8B,galliano,Lafourche,LA,2011,2012,2013,...,2015,-0.32,-0.28,1.63,1.88,2.49,246.66,245.98,254.70,261.05
27,Matthew,1,85,$13.0B,mount pleasant,Charleston,SC,2015,2016,2017,...,2019,8.71,8.61,8.94,5.59,3.94,823.86,894.83,1029.34,1069.90
28,Harvey,4,115,$160.0B,rockport,Aransas,TX,2016,2017,2018,...,2020,6.07,0.94,6.03,9.12,4.89,329.14,332.22,384.38,403.16
29,Irma,4,115,$64.0B,key west,Monroe,FL,2016,2017,2018,...,2020,12.35,4.12,5.40,6.40,3.44,805.36,838.55,940.45,972.77
30,Irma,4,100,$64.0B,marco island,Collier,FL,2016,2017,2018,...,2020,9.75,4.34,5.92,3.51,4.00,799.86,834.56,914.99,951.55
31,Michael,5,140,$31.0B,callaway,Bay,FL,2017,2018,2019,...,2021,3.80,10.55,8.19,6.09,11.43,543.54,600.88,689.66,768.46
32,Florence,1,80,$30.0B,masonboro,New Hanover,NC,2017,2018,2019,...,2021,7.07,6.04,6.50,5.48,12.45,574.41,609.12,684.26,769.44
33,Laura,4,130,$28.1B,prien,Cameron,LA,2019,2020,2021,...,2023,3.01,2.27,7.74,4.40,.,199.55,204.07,229.54,.
34,Sally,2,95,$8.8B,gulf shores,Baldwin,AL,2019,2020,2021,...,2023,6.89,4.25,13.40,17.25,11.76,401.05,418.09,555.87,621.25
35,Isaias,1,80,$5.8B,little river,Brunswick,NC,2019,2020,2021,...,2023,7.79,5.89,15.13,25.15,10.14,481.70,510.06,734.93,809.48
36,Zeta,2,100,$5.3B,galliano,Terrebonne,LA,2019,2020,2021,...,2023,1.94,2.09,2.90,9.66,3.01,355.33,362.75,409.33,421.67
37,Delta,2,85,$3.5B,prien,Cameron,LA,2019,2020,2021,...,2023,3.01,2.27,7.74,4.40,.,199.55,204.07,229.54,.
38,Ida,4,130,$84.6B,galliano,Lafourche,LA,2020,2021,2022,...,2001,0.49,3.19,10.41,1.96,.,276.09,284.89,320.74,100.00
39,Ian,4,130,$118.5B,rotonda west,Lee,FL,2021,2022,2023,...,1976,18.95,29.92,6.93,.,14.04,663.27,861.71,100.00,114.04
40,Ian,4,110,$118.5B,key west,Monroe,FL,2021,2022,2023,...,1985,14.41,24.84,9.45,.,17.68,1112.91,1389.38,100.00,117.68
41,Ian,4,130,$118.5B,rotonda west,Lee,FL,2021,2022,2023,...,1976,18.95,29.92,6.93,.,14.04,663.27,861.71,100.00,114.04
42,Ian,4,125,$118.5B,punta gorda,Charlotte,FL,2021,2022,2023,...,1979,19.84,30.83,7.47,.,18.04,535.96,701.21,100.00,118.04
43,Ian,4,70,$118.5B,georgetown,Georgetown,SC,2021,2022,2023,...,1976,10.47,19.17,13.24,.,-0.13,305.92,364.57,100.00,99.87
44,Idalia,3,100,$3.6B,perry,Taylor,FL,2022,2023,2006,...,2008,16.44,6.01,.,-2.91,1.11,294.14,311.82,97.09,98.16

In [17]:
#Read CSV from PROJECT 1 MAIN notebook
clean_df.to_csv('Output_CSVs/project_data.csv', index=False)